.background    { background: rgb(255, 235, 202);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(107, 196, 178); }
.wall          { background: rgb(255, 212, 140); }
.floater       { background: rgb(136 ,124, 205); }

.game {
  position: relative;
}
